name: Docs Linting
on:
  pull_request:
    types: [opened, edited]

jobs:
  prose:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Vale
      uses: errata-ai/vale-action@v1.3.0
      with:
        # Optional
        styles: |
          https://github.com/errata-ai/Microsoft/releases/latest/download/Microsoft.zip
          https://github.com/errata-ai/write-good/releases/latest/download/write-good.zip
          .github/lintstyles/proselint.zip


        # Optional
        files: website/docs/content
      env:
        # Required
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}